<div class="image-upload">
  <input
    type="file"
    #uploader
    [accept]="acceptedTypes"
    (change)="fileUploadChangeHandler($event)"
    style="display: none"
  />
    <button pButton (click)="uploader.click()" icon="pi pi-upload" pTooltip="Select Image" *ngIf="!imageSrc" label="Select image"></button>
    <img [src]="imageSrc" *ngIf="imageSrc" class="image" />
    <button pButton class="p-button-danger" icon="pi pi-times" pTooltip="Delete" *ngIf="imageSrc" (click)="delete()" label="Delete image"></button>

</div>
