<div class="image-upload">
  <input
    type="file"
    #uploader
    [accept]="acceptedTypes"
    (change)="fileUploadChangeHandler($event)"
    style="display: none"/>
    <button pButton (click)="uploader.click()" type="button" icon="pi pi-upload" pTooltip="Select Image" *ngIf="!imageSrc" label="Select image"></button>
    <img [src]="imageSrc" *ngIf="imageSrc" class="image" (error)="imageError()" (load)="onComplete()"/>
    <button pButton type="button" class="p-button-warning" icon="pi pi-times" pTooltip="Remove" *ngIf="imageSrc && imageLoaded" (click)="delete()" label="Remove image"></button>

</div>
